<div class="subpage p-3">
    <h1>
        My Todos
        <span class="float-right"><i class="fas fa-plus-circle hover-pointer hover-color" ng-click="isAddVisible = !isAddVisible"></i></span>
    </h1>
    <div class="table-responsive">
        <table class="table mt-3">
            <thead>
                <tr>
                    <th scope="col" class="hover-pointer hover-underline" ng-click="sortTableBy('name', true)">
                        Task
                        <span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th scope="col" class="hover-pointer hover-underline" ng-click="sortTableBy('date', true)">
                        Due Date
                        <span ng-show="sortType == 'date' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'date' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th scope="col" class="hover-pointer hover-underline" ng-click="sortTableBy('done', true)">
                        Done
                        <span ng-show="sortType == 'done' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'done' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th scope="col" class="hover-pointer hover-underline" ng-click="sortTableBy('description', true)">
                        Description
                        <span ng-show="sortType == 'description' && !sortReverse" class="fa fa-caret-down"></span>
                        <span ng-show="sortType == 'description' && sortReverse" class="fa fa-caret-up"></span>
                    </th>
                    <th scope="col">
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr ng-show="isAddVisible">
                    <td>
                        <input class="form-control" type="text" placeholder="Task name" ng-model="newTodo.name"/>
                    </td>
                    <td>
                        <input class="form-control" type="date" placeholder="Due Date" ng-model="newTodo.date"/>
                    </td>
                    <td>
                        <label class="my-checkbox">
                            <input type="checkbox" disabled>
                            <span class="checkmark checkmark-disabled hover-pointer"></span>
                        </label>
                    </td>
                    <td>
                        <input class="form-control" type="text" placeholder="Description" ng-model="newTodo.description"/>
                    </td>
                    <td>
                        <i class="fas fa-check-circle hover-pointer" ng-click="addTodo()"></i>
                        <i class="fas fa-times-circle hover-pointer" ng-click="closeAddPanel()"></i>
                    </td>    
                </tr>
                <tr ng-repeat="todo in todos.slice(((currentPage-1)*itemsPerPage), ((currentPage)*itemsPerPage))">
                    <td>
                        <input class="form-control" type='text' ng-attr-id="{{'name-input-' + todo.id}}" ng-value="todo.name" ng-show="isEditVisible[$index]"/> 
                        <span ng-hide="isEditVisible[$index]">{{todo.name}}</span>
                    </td>
                    <td>
                        <input class="form-control" type='date' ng-attr-id="{{'date-input-' + todo.id}}" ng-value="todo.date" ng-show="isEditVisible[$index]"/> 
                        <span ng-hide="isEditVisible[$index]">{{todo.date | date}}</span>
                    </td>
                    <td>
                        <label class="my-checkbox">
                            <input type="checkbox" ng-checked="{{todo.done}}" ng-click="updateTodo(todo, $index, true)">
                            <span class="checkmark"></span>
                        </label>
                    </td>
                    <td>
                        <input class="form-control" type='text' ng-attr-id="{{'description-input-' + todo.id}}" ng-value="todo.description" ng-show="isEditVisible[$index]"/> 
                        <span ng-hide="isEditVisible[$index]">{{todo.description}}</span>
                    </td>
                    <td>
                        <i class="fas fa-edit hover-pointer hover-color" ng-hide="isEditVisible[$index]" ng-click="isEditVisible[$index] = true"></i>
                        <i class="fas fa-check-circle hover-pointer hover-color" ng-show="isEditVisible[$index]" ng-click="updateTodo(todo, $index, false)"></i>

                        <i class="fas fa-trash-alt hover-pointer hover-color" ng-hide="isEditVisible[$index]" ng-click="deleteTodo(todo.id)"></i>
                        <i class="fas fa-times-circle hover-pointer hover-color" ng-show="isEditVisible[$index]" ng-click="isEditVisible[$index] = false"></i>
                    </td>
                </tr> 
            </tbody>
        </table>
    </div>
    <div class="row">
        <div class="col-sm-4 d-xs-none"></div>
        <div class="col-sm-8 d-xs-12 text-right">
            <span style="margin-right: 10px">Rows per page:</span>
                <select ng-model="itemsPerPage" 
                        ng-change="openFirstPage()" 
                        ng-options="option for option in [5, 10, 15]">
                </select>
            </span> 
            &nbsp;&nbsp;<span id="page-counter"></span>
            <span ng-click="prevPage()"><i class="fas fa-angle-left hover-pointer hover-color"></i></span>
            <span ng-click="nextPage()"><i class="fas fa-angle-right hover-pointer hover-color"></i></span>
        </div>
    </div>
</div>